<app-header></app-header>
<!-- <app-navbar></app-navbar> -->
<app-navbar></app-navbar>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2"></div>
      <div class="col-md-8">
        <form class="row g-3" [formGroup]="form">
          <h1 style="margin-bottom: 20px;">THÔNG TIN TÀI KHOẢN</h1>
          <div class="container">
            <div class="row">
            <!-- Col ben trai -->
              <div class="col-md-6">
                <!-- Input Username -->
                <label for="inputUsername" class="form-label">Tên tài khoản</label>
                <input type="text" class="form-control" id="inputUsername" formControlName="TenTaiKhoan" readonly="readonly">
                <!-- Input Ho ten -->
                <label for="inputName" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="inputName" placeholder="Tên khách hàng" formControlName="HoTenKh">
                <div *ngIf="form.get('HoTenKh').hasError('required') && form.get('HoTenKh').touched" style="color: red; margin-top: 10px;margin-left: 10px">
                  Không được để trống
                </div>
                <!-- Input Gmaiil -->
                <label for="inputEmail3" class="form-label">Gmail</label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="abc@gmail.com" formControlName="GmailKh">
                <div *ngIf="form.get('GmailKh').hasError('required') && form.get('GmailKh').touched" style="color: red; margin-top: 10px;margin-left: 10px">
                  Không được để trống
                </div>
                <div *ngIf="form.get('GmailKh').hasError('email') && form.get('GmailKh').touched" style="color: red; margin-top: 10px;margin-left: 10px">
                  Email không hợp lệ
                </div>

              </div>
            <!-- Col ben phai -->
              <div class="col-md-6">
                <!-- Input Gioi Tinh -->
                <label for="inputGender" class="form-label">Giới tính</label>
                <!-- <input type="text" class="" id="inputGender" placeholder="Nam" formControlName="Phai"> -->
                <select class="form-control" id="inputGender" formControlName="Phai">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
                <!-- Input so dien thoai -->
                <label for="inputTel" class="form-label">Số điện thoại</label>
                <input type="text" class="" id="inputTel" formControlName="Sdt">

                <!-- validate sdt -->
                <div style="color: red; margin-top: 10px;margin-left: 10px">
                <div *ngIf="form.get('Sdt').hasError('required') && form.get('Sdt').touched">
                  Không được để trống
                </div>
                <div *ngIf="form.get('Sdt').hasError('pattern') && form.get('Sdt').touched">
                  Số điện thoại không hợp lệ (chỉ được nhập số)
                </div>
                <div *ngIf="form.get('Sdt').hasError('minlength') && form.get('Sdt').touched">
                  Số điện thoại không được ngắn hơn 9 số
                </div>
                <div *ngIf="form.get('Sdt').hasError('maxlength') && form.get('Sdt').touched">
                  Số điện thoại không được dài hơn 11 số
                </div>
              </div>

              </div>
              <div>
                <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 button">
                  <button class="button-submit" (click)="updateInfo()">LƯU</button>
                </div>
               
                  
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>


