.harder{
    color: #146C94;
    font-size: 25px;
  }
  .title{
    font-size: xx-large;
  }
  .container {
    margin-top: 2%;
  }
  h1{
    font-weight: bold;
  }
  .paypal{
    display: flex;
    // flex: auto;
    justify-content: center;
  }