* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    margin-left: 193.477px;
}
.page-title {
    text-align: center;
    white-space: nowrap;
    font-size: 30px;
    /* margin-top: 20px; */
    font-weight: bold;
    color: #146C94;
}

.add-flight {
    float: right;
    /* margin-right: 30px; */
    white-space: nowrap;
    border: none;
    color:white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: #19A7CE;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flight-filter-form {
    margin:auto;
    
    align-items: center;
    clear: both;
    display: flex;
    flex-direction: column;
}
.flight-filter-form form {
    /* margin: 30px; */
    display: flex;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 3px;
    border-color: #146C94;
    padding: 20px;
    border-radius: 20px;
}
.form-section {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
    /* align-content: center; */
}
.form-section label {
    width: 50%;
    /* padding: 20px; */
    align-self: center;
    color: #146C94;
    font-weight: bold;
}
.form-section input {
    width: 50%;
    /* padding: 20px;     */
    align-self: center;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
    border: 2px solid #146C94;
}

.form-section select {
    flex: 50%;
    /* padding: 20px;     */
    align-self: center;
    height: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url('../../../assets/Icon/select-arrow.png'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    background-size: .65em auto, 100%;
    background-position-x: 96%;
    background-position-y: 60%;
    padding: 5px;
    border-radius: 10px;
    border-color: #146C94;
    border-width: 2px;
}
.form-section button {
    border: none;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #19A7CE;
}
.flight-search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.flight-search label {
    width: 15%;
    margin-right: 20px;
    text-wrap: nowrap;
    font-weight: bold;
    color: #146C94;
}
.flight-search input {
    width: 60%;
    margin: 20px;
    padding: 5px;
    padding-left: 35px;
    /* border-radius: 10px;
    border-color: #146C94 solid;
    border-width: 2px; */
    border: 2px solid #146C94;
    border-radius: 10px;
    background-image: url('../../../assets/Icon/icons8-search-48.png'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.65em auto, 100%;
    background-position-x: 1%;
    background-position-y: 60%;
}
.flight-search button {
    width: 25%;
    margin-left: 20px;
    border: none;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #19A7CE;
    /* justify-content: flex; */
    /* float:right; */
    /* justify-content: space-between; */
}
// .flight-detail-table {
//     display: flex;
//     /* justify-content: center; */
// }
// table {
//     width: 85%;
//     /* display: flex; */
//     table-layout: fixed;
//     border-collapse: collapse;
//     /* background-color: #262626; */
//     color: white;
// }
// th {
//     vertical-align: top;
//     text-align: center;
// }
// th, td {
//     /* width: 10%; */
//     border: 1px solid white;
//     background-color: #262626;
//     /* border-collapse: collapse; */
// }
// /* table, th, td {
//     border: 1px solid black;
//     border-collapse: collapse;
// } */
// .flight-detail-edit-delete {
//     width: 15%;
// }



.demo-table {
    width: 100%;
}
.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}
.mat-column-demo-weight {
    font-style: italic;
}
.mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
}
  