<div class="page-title">
  QUẢN LÝ CHUYẾN BAY
</div>
<button class="add-flight" routerLink="/admin-dashboard/add-flight">Thêm chuyến bay</button>
<div class="flight-filter-form">
  <form>
    <div class="form-field">
      <label for="departure-location">Nơi xuất phát</label><br>
      <select name="arrival-location" id="arrival-location">
        <option value=""></option>
        <option value="TPHCM">TPHCM</option>
        <option value="TPHCM2">TPHCM2</option>
        <option value="TPHCM3">TPHCM3</option>
        <option value="TPHCM4">TPHCM4</option>
        <option value="TPHCM5">TPHCM5</option>
      </select>
    </div>
    <div class="form-field">
      <label for="departure-date">Ngày xuất phát</label><br>
      <input type="date" id="departure-date" name="departure-date" class="datepicker-box"><br>
    </div>
    <div class="form-field">
      <label for="arrival-location">Nơi đến</label><br>
      <select name="arrival-location" id="arrival-location">
        <option value=""></option>
        <option value="TPHCM">TPHCM</option>
        <option value="TPHCM2">TPHCM2</option>
        <option value="TPHCM3">TPHCM3</option>
        <option value="TPHCM4">TPHCM4</option>
        <option value="TPHCM5">TPHCM5</option>
      </select>
    </div>
    <div class="form-field" style="justify-content: right;">
      <button type="submit">Lọc</button>
    </div>
  </form>
  <div class="flight-search">
    <label for="flight-id">Tìm kiếm mã chuyến</label><br>
    <input type="text" id="flight-id" name="flight-id">
    <button class="search-flight">Tìm kiếm</button>
  </div>

</div>
<div class="flight-data-table">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 flight-table">
      <ng-container matColumnDef="flight_id">
        <th mat-header-cell *matHeaderCellDef> Mã chuyến </th>
        <td mat-cell *matCellDef="let element"> {{element.flight_id}} </td>
      </ng-container>

      <ng-container matColumnDef="plane_id">
        <th mat-header-cell *matHeaderCellDef> Mã máy bay </th>
        <td mat-cell *matCellDef="let element"> {{element.plane_id}} </td>
      </ng-container>

      <ng-container matColumnDef="plane_name">
        <th mat-header-cell *matHeaderCellDef> Tên máy bay </th>
        <td mat-cell *matCellDef="let element"> {{element.plane_name}} </td>
      </ng-container>

      <ng-container matColumnDef="departure_location">
        <th mat-header-cell *matHeaderCellDef> Nơi xuất phát </th>
        <td mat-cell *matCellDef="let element"> {{element.departure_location}} </td>
      </ng-container>

      <ng-container matColumnDef="arrival_location">
        <th mat-header-cell *matHeaderCellDef> Nơi hạ cánh </th>
        <td mat-cell *matCellDef="let element"> {{element.arrival_location}} </td>
      </ng-container>

      <ng-container matColumnDef="departure_date">
        <th mat-header-cell *matHeaderCellDef> Ngày xuất phát </th>
        <td mat-cell *matCellDef="let element"> {{element.departure_date}} </td>
      </ng-container>

      <ng-container matColumnDef="flight_time">
        <th mat-header-cell *matHeaderCellDef> Giờ bay </th>
        <td mat-cell *matCellDef="let element"> {{element.flight_time}} </td>
      </ng-container>

      <ng-container matColumnDef="BSN_seats">
        <th mat-header-cell *matHeaderCellDef> Số ghế<br> BSN </th>
        <td mat-cell *matCellDef="let element"> {{element.BSN_seats}} </td>
      </ng-container>

      <ng-container matColumnDef="ECO_seats">
        <th mat-header-cell *matHeaderCellDef> Số ghế <br> ECO </th>
        <td mat-cell *matCellDef="let element"> {{element.ECO_seats}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Giá </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button routerLink="/admin-dashboard/edit-flight"
            routerLinkActive="active">Sửa</button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button>Xóa</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>



  <div class="paginator-container">
    <mat-paginator pageSize="10" hidePageSize="true" showFirstLastButtons>
    </mat-paginator>
  </div>


</div>