* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    margin-left: 193.477px;
}
.page-title {
    text-align: center;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    color: #146C94;
}
.font-20{
    font-size: 20px;
}
.font-18{
    font-size: 18px;
}
.hei-40{
    height: 40px;
}
.add-flight {
    float: right;
    white-space: nowrap;
    border: none;
    color:white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: #19A7CE;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.add-flight:hover {
    background-color: transparent;
    color: #19A7CE;
    border: 1px solid #19A7CE;
    cursor: pointer;
}
.flight-filter-form {
    margin:auto;
    
    align-items: center;
    clear: both;
    display: flex;
    flex-direction: column;
}
.flight-filter-form form {
    display: flex;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 3px;
    border-color: #146C94;
    padding: 20px;
    border-radius: 20px;
}
.form-field {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 10px;
}
.form-field label {
    width: 30%;
    align-self: center;
    color: #146C94;
    font-weight: bold;
}
.form-field input {
    width: 70%;
    align-self: center;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
    border: 2px solid #146C94;
}

.form-field select {
    flex: 70%;
    align-self: center;
    height: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url('../../../assets/Icon/select-arrow.png'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    background-size: .65em auto, 100%;
    background-position-x: 96%;
    background-position-y: 60%;
    padding: 5px;
    border-radius: 10px;
    border-color: #146C94;
    border-width: 2px;
}
.form-field button {
    border: none;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #19A7CE;
    transition: 0.3s;
}
.form-field button:hover {
    background-color: transparent;
    color: #19A7CE;
    border: 1px solid #19A7CE;
    cursor: pointer;
}
.flight-search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.flight-search label {
    width: 15%;
    margin-right: 20px;
    text-wrap: nowrap;
    font-weight: bold;
    color: #146C94;
}
.flight-search input {
    width: 60%;
    margin: 20px;
    padding: 5px;
    padding-left: 35px;
    border: 2px solid #146C94;
    border-radius: 10px;
    background-image: url('../../../assets/Icon/icons8-search-48.png'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.65em auto, 100%;
    background-position-x: 1%;
    background-position-y: 60%;
}
.search-flight {
    width: 25%;
    margin-left: 20px;
    border: none;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #19A7CE;
    transition: 0.3s;
}
.search-flight:hover {
    background-color: transparent;
    color: #19A7CE;
    border: 1px solid #19A7CE;
    cursor: pointer;
}
.flight-data-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    border-style: solid;
    border-color: #146C94;
    border-width: 3px 3px 3px 3px;
    border-radius: 10px 10px 0px 0px;
    background-color: #146C94;
}
.paginator-container {
    display: flex;
    width: 100%;
}
.flight-table {
    width: 100%;
    justify-content: center;
    background-color: white;
    color: black;
    // text-wrap: nowrap;
}
// .mat-column-flight_id,
// .mat-column-plane_id,
// .mat-column-plane_name,
// .mat-column-departure_location,
// .mat-column-arrival_location,
// .mat-column-departure_date,
// .mat-column-flight_time,
// .mat-column-BSN_seats,
// .mat-column-ECO_seats,
// .mat-column-price,
// .mat-column-edit,
// .mat-column-delete {
//     color: black;
//     text-align: center;
//     border-bottom: 1px solid currentColor;
// }

.mat-column-MaChuyenBay,
.mat-column-MaMayBay,
.mat-column-TenMayBay,
.mat-column-NoiXuatPhat,
.mat-column-NoiDen,
.mat-column-NgayXuatPhat,
.mat-column-GioBay,
.mat-column-SoLuongVeBsn,
.mat-column-SoLuongVeEco,
.mat-column-DonGia,
.mat-column-edit,
.mat-column-delete {
    color: black;
    text-align: center;
    border-bottom: 1px solid currentColor;
}
.mat-table {
    overflow-x: scroll;
    color: black;
    text-wrap: nowrap;
}
td button {
    background-color: #19A7CE;
    border: none;
    color: white;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
td button:hover {
    background-color: white;
    border: 1px solid #19A7CE;
    color: #19A7CE;
    cursor: pointer;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}
.flight-table {
    th {
        background-color: #146C94;
        color: white;
    }
}
// .mat-row,
// .mat-header-row {
//     min-width: 800px;
// }
mat-paginator {
    background-color: #146C94;
    color: white;
    width: 100%;
    flex-shrink: 0;
}
