<div class="page-title">
  QUẢN LÝ CHUYẾN BAY
</div>
<button class="add-flight" routerLink="/admin-dashboard/add-flight" style="height: 50px;background-color:#146C94;">Thêm chuyến bay</button>
<div class="flight-filter-form">
  <form>
    <div class="form-field">
      <label for="departure-location" class="font-20">Nơi xuất phát</label><br>
      <select name="arrival-location" id="arrival-location" style="height: 40px;"
      [(ngModel)]="departureLocation">
        <option value="" id=""></option>
        <option value="VIETNAM" id="VN">Việt Nam</option>
        <option value="THAILAND" id="TH">Thái Lan</option>
        <option value="ENGLAND" id="EN">Anh</option>
        <option value="JAPAN" id="JP">Nhật Bản</option>
        <option value="AMERICA" id="US">Mỹ</option>
        <option value="FRANCE" id="FR">Pháp</option>
        <option value="RUSSIA" id="RU">Nga</option>
        <option value="SINGAPORE" id="SG">Singapore</option>
        <option value="HONGKONG" id="HK">Hồng Kông</option>
      </select>
    </div>
    <div class="form-field">
      <label for="departure-date" class="font-20">Ngày xuất phát</label><br>
      <input type="date" id="departure-date" name="departure-date" class="datepicker-box" style="height: 40px;"
      [(ngModel)]="departureDate"><br>
    </div>
    <div class="form-field">
      <label for="arrival-location" class="font-20">Nơi đến</label><br>
      <select name="arrival-location" id="arrival-location" style="height: 40px;"
      [(ngModel)]="arrivalLocation">
        <option value="" id=""></option>
        <option value="VIETNAM" id="VN">Việt Nam</option>
        <option value="THAILAND" id="TH">Thái Lan</option>
        <option value="ENGLAND" id="EN">Anh</option>
        <option value="JAPAN" id="JP">Nhật Bản</option>
        <option value="AMERICA" id="US">Mỹ</option>
        <option value="FRANCE" id="FR">Pháp</option>
        <option value="RUSSIA" id="RU">Nga</option>
        <option value="SINGAPORE" id="SG">Singapore</option>
        <option value="HONGKONG" id="HK">Hồng Kông</option>
        <option value="KOREA" id="KR">Hàn Quốc</option>
      </select>
    </div>
    <div class="form-field" style="justify-content: right;">
      <button type="submit" style="height: 40px;"
      (click)="filter($event)"
      >Lọc</button>
    </div>
  </form>
  <div class="flight-search">
    <label for="flight-id" class="font-18">Tìm theo mã chuyến</label>
    <input type="text" id="flight-id" name="flight-id" style="margin-left: 60px;height: 40px;" [(ngModel)]="searchValue">
    <button class="search-flight" style="height: 40px;" (click)="search($event, searchValue)">Tìm kiếm</button>
  </div>

</div>
<div class="flight-data-table"

>
  <div class="table-container"
  *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 flight-table">

      <ng-container matColumnDef="MaChuyenBay">
        <th mat-header-cell *matHeaderCellDef> Mã chuyến </th>
        <td mat-cell *matCellDef="let element"> {{element.maChuyenBay}} </td>
      </ng-container>

      <ng-container matColumnDef="MaMayBay">
        <th mat-header-cell *matHeaderCellDef> Mã máy bay </th>
        <td mat-cell *matCellDef="let element"> {{element.maMayBay}} </td>
      </ng-container>

      <ng-container matColumnDef="TenMayBay">
        <th mat-header-cell *matHeaderCellDef> Tên máy bay </th>
        <td mat-cell *matCellDef="let element"> {{element.tenMayBay}} </td>
      </ng-container>

      <ng-container matColumnDef="NoiXuatPhat">
        <th mat-header-cell *matHeaderCellDef> Nơi xuất phát </th>
        <td mat-cell *matCellDef="let element"> {{element.noiXuatPhat}} </td>
      </ng-container>

      <ng-container matColumnDef="NoiDen">
        <th mat-header-cell *matHeaderCellDef> Nơi hạ cánh </th>
        <td mat-cell *matCellDef="let element"> {{element.noiDen}} </td>
      </ng-container>

      <ng-container matColumnDef="NgayXuatPhat">
        <th mat-header-cell *matHeaderCellDef> Ngày xuất phát </th>
        <td mat-cell *matCellDef="let element"> {{element.ngayXuatPhat.slice(0,10)}} </td>
      </ng-container>

      <ng-container matColumnDef="GioBay">
        <th mat-header-cell *matHeaderCellDef> Giờ bay </th>
        <td mat-cell *matCellDef="let element"> {{element.gioBay.slice(0,5)}} </td>
      </ng-container>

      <ng-container matColumnDef="SoLuongVeBsn">
        <th mat-header-cell *matHeaderCellDef> Số ghế<br> BSN </th>
        <td mat-cell *matCellDef="let element"> {{element.soLuongVeBsn}} </td>
      </ng-container>

      <ng-container matColumnDef="SoLuongVeEco">
        <th mat-header-cell *matHeaderCellDef> Số ghế <br> ECO </th>
        <td mat-cell *matCellDef="let element"> {{element.soLuongVeEco}} </td>
      </ng-container>

      <ng-container matColumnDef="DonGia">
        <th mat-header-cell *matHeaderCellDef> Giá (đ) </th>
        <td mat-cell *matCellDef="let element"> {{element.donGia | number:'1.0-3'}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <!-- <button routerLink="/admin-dashboard/edit-flight/{{element.maChuyenBay}}"
            routerLinkActive="active">Sửa</button> -->
            <button (click)="toEdit(element.maChuyenBay)">Sửa</button>
          </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button (click)="deleteFlight($event, element.maChuyenBay)">Xóa</button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <p *ngIf="dataSource.data.length <= 0">
    Không tìm thấy thông tin chuyến bay
  </p>


  <div class="paginator-container">
    <mat-paginator pageSize="20" hidePageSize="true" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>