<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/flight_management.css"> -->
    <title>Quản lý chuyến bay</title>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            <div class="logo">
                <img src="../../assets/Icon/icons8-plane-material-rounded (1)/icons8-plane-48.png" alt="logo" class="logo-image">
                <button class="homepage">
                    <p style="margin: 0;">FLIGHTDOT</p>
                    <p style="margin: 0;">ADMIN</p>
                </button>
                
            </div>
            <div class="menu-button-list">
                <button class="menu-button">Quản lý chuyến bay</button>
                <button class="menu-button">Quản lý vé</button>
                <button class="menu-button">Quản lý khách hàng</button>
                <button class="menu-button">Thống kê</button>
                <button class="menu-button">LOG OUT</button>
            </div>
        </div>
        <div class="page-content">
            <!-- <div class="page-title">Quản lý chuyến bay</div>
            <button>Thêm chuyến bay</button> -->
            <div class="page-title">
                QUẢN LÝ CHUYẾN BAY
            </div>
                <button class="add-flight">Thêm chuyến bay</button>
                <div class="flight-filter-form">
                    <form>
                        <div class="form-section">
                            <label for="departure-location">Nơi xuất phát:</label><br>
                            <!-- <input type="text" id="departure-location" name="departure-location"><br> -->
                            <select name="arrival-location" id="arrival-location">
                                <option value=""></option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="TPHCM2">TPHCM2</option>
                                <option value="TPHCM3">TPHCM3</option>
                                <option value="TPHCM4">TPHCM4</option>
                                <option value="TPHCM5">TPHCM5</option>
                            </select>
                        </div>
                        <div class="form-section">
                            <label for="departure-date">Ngày xuất phát:</label><br>
                            <input type="date" id="departure-date" name="departure-date" class="datepicker-box"><br></div>
                        <div class="form-section">
                            <label for="arrival-location">Nơi đến:</label><br>
                            <!-- <input type="text" id="arrival-location" name="arrival-location"><br> -->
                            <select name="arrival-location" id="arrival-location">
                                <option value=""></option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="TPHCM2">TPHCM2</option>
                                <option value="TPHCM3">TPHCM3</option>
                                <option value="TPHCM4">TPHCM4</option>
                                <option value="TPHCM5">TPHCM5</option>
                            </select>
                        </div>
                        <div class="form-section" style="justify-content: right;">
                            <button type="submit">Lọc</button>
                        </div>
                    </form>
                    <div class="flight-search">
                        <label for="flight-id">Tìm kiếm mã chuyến:</label><br>
                        <input type="text" id="flight-id" name="flight-id">
                        <button class="search-flight">Tìm kiếm</button>
                    </div>
                    
                </div>
                <div class="flight-detail-table">
                    <table>
                        <tr>
                            <th>Mã chuyến</th>
                            <th>Mã máy bay</th>
                            <th>Tên máy bay</th>
                            <th>Nơi đi</th>
                            <th>Nơi đến</th>
                            <th>Ngày xuất phát</th>
                            <th>Giờ bay</th>
                            <th>SL BSN đặt</th>
                            <th>SL ECO đặt</th>
                            <th>Giá</th>
                            
                        </tr>
                    </table>
                    <div class="flight-detail-edit-delete">
                        <button>delete</button>
                        
                    </div>
                </div>
        </div>
    </div>
</body>