<div class="page-title">
    CHỈNH SỬA CHUYẾN BAY
</div>
<div class="flight-detail-form">
    <form #form="ngForm" (ngSubmit)="updateFlight()">
        <h1 style="font-weight: bold;padding-bottom: 10px;color: #146C94;">THÔNG TIN CHUYẾN BAY</h1>

        <div class="flight-data-fields">
            <span style="text-align: left;
            font-size: 20px;
            width: 100%;
            font-weight: bold;
            color: #146C94;
            margin: 0px 0px 10px 0px;">Thông tin chuyến bay</span>
            <div class="form-field">
                <label for="flight-id">Mã chuyến</label>
                <input type="text" id="flight-id" name="flight-id"
                readonly="readonly"
                disabled="disabled"
                style="text-align: right;"
                [(ngModel)]="editFlightRequest.maChuyenBay">
            </div>
    
            <div class="form-field">
                <label for="departure-location">Nơi xuất phát</label><br>
                <select name="departure-location" id="departure-location"
                
                [(ngModel)]="editFlightRequest.noiXuatPhat">
                    <option value="" id=""></option>
                    <option value="VIETNAM" id="VN">Việt Nam</option>
                    <option value="THAILAN" id="TH">Thái Lan</option>
                    <option value="ANH" id="UK">Anh</option>
                    <option value="NHATBAN" id="JP">Nhật Bản</option>
                    <option value="MY" id="US">Mỹ</option>
                    <option value="PHAP" id="FR">Pháp</option>
                    <option value="NGA" id="RU">Nga</option>
                    <option value="SINGAPORE" id="SG">Singapore</option>
                    <option value="HONGKONG" id="HK">Hồng Kông</option>
                    <option value="HANQUOC" id="KR">Hàn Quốc</option>
                </select>
            </div>
    
            <div class="form-field">
                <label for="arrival-location">Nơi đến</label><br>
                <select name="arrival-location" id="arrival-location"
                
                [(ngModel)]="editFlightRequest.noiDen">
                    <option value="" id=""></option>
                    <option value="VIETNAM" id="VN">Việt Nam</option>
                    <option value="THAILAN" id="TH">Thái Lan</option>
                    <option value="ANH" id="UK">Anh</option>
                    <option value="NHATBAN" id="JP">Nhật Bản</option>
                    <option value="MY" id="US">Mỹ</option>
                    <option value="PHAP" id="FR">Pháp</option>
                    <option value="NGA" id="RU">Nga</option>
                    <option value="SINGAPORE" id="SG">Singapore</option>
                    <option value="HONGKONG" id="HK">Hồng Kông</option>
                    <option value="HANQUOC" id="KR">Hàn Quốc</option>
                </select>
            </div>
    
            <div class="form-field">
                <label for="departure-date">Ngày đi</label>
                <input type="date" id="departure-date" name="departure-date" class="datepicker-box"
                style="text-align: right;"
                [(ngModel)]="editFlightRequest.ngayXuatPhat">
            </div>
    
            <div class="form-field">
                <label for="flight-time">Giờ bay</label>
                <input type="number" id="flight-time-hour" name="flight-time-hour" min="0" max="23"
                oninput="this.value = !!this.value && Math.abs(this.value) <= 23 ? Math.abs(this.value) : null;
                if (this.value < 10) {
                    this.value = '0' + this.value
                }"
                style="width: 20%; text-align: right"
                [(ngModel)]="flightTime_Hour">
                <span style="width: 10%;
                align-self: center;
    color: #146C94;
    font-weight: bold;
    text-align: center">giờ</span>
                <input type="number" id="flight-time-minute" name="flight-time-minute" min="0" max="59"
                oninput="this.value = !!this.value && Math.abs(this.value) <= 59 ? Math.abs(this.value) : null;
                if (this.value < 10) {
                    this.value = '0' + this.value
                }"
                style="width: 20%; text-align: right"
                [(ngModel)]="flightTime_Minute">
                <span style="width: 10%;
                align-self: center;
    color: #146C94;
    font-weight: bold;
    text-align: center">phút</span>
                <!-- <input type="number" id="flight-time-second" name="flight-time-second" min="0" max="59"
                oninput="this.value = !!this.value && Math.abs(this.value) <= 59 ? Math.abs(this.value) : null;
                if (this.value < 10) {
                    this.value = '0' + this.value
                }"
                style="width: 20%;"
                [(ngModel)]="flightTime_Second"> -->
            </div>
        </div>

        <div class="plane-data-fields">
            <span style="text-align: left;
            font-size: 20px;
            width: 100%;
            font-weight: bold;
            color: #146C94;
            margin: 0px 0px 10px 0px;">Thông tin máy bay</span>
            <div class="form-field">
                <label for="plane-id">Mã máy bay</label><br>
                <select name="plane-id" id="plane-id"
                #mySelect
                [(ngModel)]="editFlightRequest.maMayBay"
                (ngModelChange)="updatePlaneInfo($event, mySelect.value)"
                >
                    <option value="" id=""></option>
                    <option *ngFor="let plane of planeList" value="{{plane.maMayBay}}" #planeIdSelectValue>
                        {{plane.maMayBay}}
                    </option>
                </select>
            </div>
            
            <div class="form-field">
                <label for="plane-name">Tên máy bay</label><br>
                <input type="text" id="plane-name" name="plane-name"
                disabled="disabled"
                [(ngModel)]="editFlightRequest.tenMayBay"
                style="text-align: right;">
            </div>
    
            
    
            <div class="form-field">
                <label for="BSN-number">Số lượng ghế BSN</label><br>
                <input type="text" id="BSN-number" name="BSN-number"
                oninput="this.value = !!this.value && Math.abs(this.value) >=0 ? Math.abs(this.value) : null"
                [(ngModel)]="BSN_Seats" readonly="readonly"
                style="text-align: right;">
            </div>
            <div class="form-field">
                <label for="BSN-number-booked">Số lượng ghế BSN đặt</label><br>
                <input type="text" id="BSN-number-booked" name="BSN-number-booked" placeholder="0" readonly="readonly"
                oninput="this.value = !!this.value && Math.abs(this.value) >=0 ? Math.abs(this.value) : null"
                style="text-align: right;">
                
            </div>
            <div class="form-field">
                <label for="ECO-number">Số lượng ghế ECO</label><br>
                <input type="text" id="ECO-number" name="ECO-number"
                oninput="this.value = !!this.value && Math.abs(this.value) >=0 ? Math.abs(this.value) : null"
                [(ngModel)]="ECO_Seats" readonly="readonly"
                style="text-align: right;">
            </div>
            <div class="form-field">
                <label for="ECO-number-booked">Số lượng ghế ECO đặt</label><br>
                <input type="text" id="ECO-number-booked" name="ECO-number-booked" placeholder="0" readonly="readonly"
                style="text-align: right;">
            </div>
            <div class="form-field">
                <label for="price">Giá</label><br>
                <input type="text" id="price" name="price"
                oninput="this.value = (parseInt(this.value.replace(/[^0-9]/g, '')) || 0).toLocaleString() + ' đ'"
                [(ngModel)]="editFlightRequest.donGia"
                style="text-align: right;">
            </div>
        </div>
        <!-- [routerLink]="['/admin-dashboard', 'admin-flight-management']" -->
        <div class="form-action">
            <button class="cancel-edit" [routerLink]="['/admin-dashboard', 'admin-flight-management']">Quay lại</button>
            <button type="submit" class="accept-edit"
            
           
            
            >Chỉnh sửa</button>
        </div>
    </form>
</div>