* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #146C94;
    
}
form{
    border: 3px solid #19A7CE;
    border-radius: 10px;
    padding:30px
}
.container {
    display: flex;
    flex-direction: row;
    min-width: 100% !important;
    
}

.page-content {
    margin-left: 250px;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
}
h1{
    text-align: center;
    margin-bottom: 5%;
}
button{
    color: white !important;
    min-height: 40px;
    width: 135px;
    background-color: #19A7CE;
    
}
#quay-lai{
    margin-right: 15px;
    background-color: white;
    border: 3px solid;
    color: #146C94 !important;
}
#quay-lai:hover{
    margin-right: 15px;
    background-color: #146C94;
    border: 3px solid;
    color: white !important;
}
button:hover{
    background-color: #146C94;
    color: white;
}
.buttons{
    display: flex;
    margin-top: 10%;
    justify-content: right;
}
h2{
    margin-bottom: 50px;
}
.form{
    // display: inline;
    margin-bottom: 15px;
    height: 40px;
}
.col-md-6{
    padding-left: 30px;
}
input, select{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #89d7ec;
    margin-right: 30px;
    margin-bottom: 10px;
}
#labelPassword{
    display: flex;
    justify-content: space-between;
}
#show{
    background-image: url(../../../assets/Icon/icons8-eye-48.png);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 20px;
    justify-content: right;
    padding-left: 25px;
    margin-right: 12%;
}

.PageNavi{
    position: relative;
    top: 5%;
}
.pagination{
    display: flex;
    justify-content: center;
    
}
.page-link{
    border: 3px solid#19A7CE;
    border-radius: 10px !important;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.page-link:hover{
    background-color: #146C94;
    color: white;
}
.page-link:hover span{
    color: white;
}