
<div class="container">
    
    <div class="page-content">
        <h1 class="page-title">Thêm tài khoản mới</h1>
        <form class="row g-3">
            <h2>Khách hàng mới</h2>
            <div class="col-md-6">
                <label for="inputTaiKhoan" class="form-label">Tài Khoản</label>
                <input type="text" class="form-control" id="inputTaiKhoan">
            </div>
            <div class="col-md-6">
                <label for="inputPassword" class="form-label" id="labelPassword">
                    <div>Mật khẩu</div>
                    
                    <!-- <input [type]="changetype?'password':'text'" name="user_password" id="password-container" placeholder="Nhập mật khẩu của bạn vào đây"> -->
                <div class="eye-icon" (click)="viewpass()">
                    <mat-icon id="eye-icon" style="color: #146C94;" fontIcon="{{visible?'visibility':'visibility_off'}}"></mat-icon>   
                    <div id="show" [textContent]="text"></div>      
                </div>
                
                </label>
                <input [type]="changetype?'password':'text'" class="form-control" id="inputPassword" placeholder="Nhập mật khẩu của bạn vào đây">
            </div>
            <div class="col-md-6">
                <label for="inputName" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputPhoneNumber" class="form-label">Số điện thoại</label>
                <input type="tel" class="form-control" id="inputPhoneNumber">
            </div>
            <div class="col-md-6">
                <label for="inputGmail" class="form-label">Gmail</label>
                <input type="email" class="form-control" id="inputGmail">
            </div>
            <div class="col-md-6">
                <label for="inputGender" class="form-label">Giới tính</label>
                <select class="form-select" aria-label="Default select example" id="inputGender">
                    <option selected value="HoTen">Nam</option>
                    <option value="MaKH">Nữ</option>
                </select>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" id="quay-lai">Quay lại</button>
                <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
            </div>
        </form>
        
    </div>
</div>

