* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #146C94;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 50px 50px 0px 50px;
}
.page-title {
    text-align: center;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    color: #146C94;
    margin-bottom: 50px;
}
form{
    border: 3px solid #19A7CE;
    border-radius: 10px;
    padding:30px;
    
}
.form-label{
    margin-bottom: 5px;
}
button{
    background-color: #19A7CE;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
button:hover {
    background-color: white;
    border: 1px solid #19A7CE;
    color: #19A7CE;
    cursor: pointer;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
}

#quay-lai{
    margin-right: 15px;
}

.buttons{
    display: flex;
    margin-top: 5%;
    justify-content: right;
}
h2{
    white-space: nowrap;
    font-weight: bold;
    color: #146C94;
    margin-bottom: 30px;
}
.form{
    // display: inline;
    margin-bottom: 15px;
    height: 40px;
}
.col-md-6{
    padding-left: 30px;
}
input, select{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: 3px solid #89d7ec;
    margin-right: 30px;
    margin-bottom: 10px;
}
#labelPassword{
    display: flex;
    justify-content: space-between;
    
}
#show{
    justify-content: right;
    padding-left: 30px;
    margin-right: 10px;
}
// #password-container:focus,#username-container:focus{
//     outline: none;
//     border: 3px solid #19A7CE;
// }
.eye-icon{
    position: relative;
    justify-content: right;
    cursor: pointer;
    border: none;
    background-color: transparent !important;
    margin-right: 10%;
    
}
#eye-icon{
    position: absolute;
}
// ---------------------------------------------------------------------------------
