* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #146C94;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    border-radius: 10px;
    margin-top: 5%;
}
th{
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    min-width: 100% !important;
    
}

.page-content {
    margin-left: 250px;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
}
h1{
    text-align: center;
}
button{
    color: white !important;
    height: 40px;
    width: 135px;
    background-color: #19A7CE;
}
button:hover{
    background-color: #146C94;
    color: white;
}

#btnThem{
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
    margin-top: 5%;
}
.form{
    // display: inline;
    margin-bottom: 15px;
    height: 40px;
}

#TimKiem{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#select{
    border: 2px solid#19A7CE;
    width: 90%;
    height: 40px;
}
.form-select{
    background-image: url(../../../assets/Icon/select-arrow.png);
    position: relative;
}
#search{
    background-image: url(../../../assets/Icon/icons8-search-48.png);
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 30px;
    position: relative;
    border: 2px solid#19A7CE;
    height: 40px;
    width: 90%;
}
#btnTimKiem{
    display: flex;
    justify-content: right;
    
}
#btnTimKiem button{
    width: 135px;
}

.PageNavi{
    position: relative;
    top: 5%;
}
.pagination{
    display: flex;
    justify-content: center;
    
}
.page-link{
    border: 3px solid#19A7CE;
    border-radius: 10px !important;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.page-link:hover{
    background-color: #146C94;
    color: white;
}
.page-link:hover span{
    color: white;
}