* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    margin-left: 193.477px;
}
.page-title {
    text-align: center;
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    color: #146C94;
    margin-bottom: 30px;
}
button{
    background-color: #19A7CE;
    border: none;
    color: white;
    width: 130px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}
button:hover {
    background-color: white;
    border: 1px solid #19A7CE;
    color: #19A7CE;
    cursor: pointer;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
}
#Them{
    display: flex;
    margin:50px auto 30px auto;
}
#btnThem{
    
}

.form-field {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
}
.form-field label {
    width: 40%;
    align-self: center;
    color: #146C94;
    font-weight: bold;
}
.form-field input {
    width: 60%;
    align-self: center;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
    border: 2px solid #146C94;
}

.form-field select {
    flex: 60%;
    align-self: center;
    height: auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    background-image: url('../../../assets/Icon/select-arrow.png'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
    background-size: .65em auto, 100%;
    background-position-x: 96%;
    background-position-y: 60%;
    padding: 5px;
    border-radius: 10px;
    border-color: #146C94;
    border-width: 2px;
}
.form-field button {
    border: none;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #19A7CE;
    transition: 0.3s;
}
.form-field button:hover {
    background-color: transparent;
    color: #19A7CE;
    border: 1px solid #19A7CE;
    cursor: pointer;
}

.guest-data-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    border-style: solid;
    border-color: #146C94;
    border-width: 3px 3px 3px 3px;
    border-radius: 10px 10px 0px 0px;
    background-color: #146C94;
    white-space: nowrap;
}
.paginator-container {
    display: flex;
    width: 100%;
}
.flight-table {
    width: 100%;
    justify-content: center;
    background-color: white;
    color: black;
    text-wrap: wrap;
    min-width: 1000px;
    overflow-x: auto;
}
.mat-column-id_guest,
.mat-column-full_name,
.mat-column-gender,
.mat-column-gmail,
.mat-column-id_flight,
.mat-column-id_ticket{
    color: black;
    text-align: center;
    border-bottom: 1px solid currentColor;
}
.mat-table {
    overflow-x: scroll;
    color: black;
    text-wrap: nowrap;
}

.guest-data-table {
    th {
        background-color: #146C94;
        color: white;
    }
}
mat-paginator {
    background-color: #146C94;
    color: white;
    width: 100%;
    flex-shrink: 0;
}
// --------------------------------------------------------------------------
.form{
    // display: inline;
    margin-bottom: 15px;
    height: 40px;
}

#TimKiem{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#select{
    border: 2px solid#19A7CE;
    width: 90%;
    height: 40px;
}
.form-select{
    background-image: url(../../../assets/Icon/select-arrow.png);
    position: relative;
}
#search{
    background-image: url(../../../assets/Icon/icons8-search-48.png);
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 30px;
    position: relative;
    border: 2px solid#19A7CE;
    height: 40px;
    width: 90%;
}
#btnTimKiem{
    display: flex;
    justify-content: left;
    
}

