body{
    font-weight: bold;
    font-family: sans-serif;
}

h1{
    font-weight: bold;
}

button{
    width: 100%;
}

.lighter{
    color: #6AC6DF;
}

.harder{
    color: #146C94;
}

.cover{
    border: #146C94 solid 4px;
    border-radius: 25px;
}

.margin-center{
    margin: auto;
}

.container {
    margin-top: 2%;
}

.find-code{
    font-size:x-large;
}

.title{
    font-size: xx-large;
}
button{
    font-weight: bold;
}