<app-header></app-header>
<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>History Booking</title>
    </head>
    <body>
        <!-- Tieu de -->
        <div class="container"> 
            <div class="row">
                <h1 class="text-center harder title">LỊCH SỬ VÉ</h1>
            </div>
        </div>
        <!-- Thanh tim kiem -->
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <p for="" class=" find-code harder">Tìm mã chuyến bay</p>
                </div>
                <div class="col-6">
                    <input class="form-control" type="text">
                </div>
                <div class="col-3">
                    <button class="btn btn-primary">TÌM</button>
                </div>
            </div>
        </div>
        <!-- Khung thong tin -->
        <div class="container">
            <div class="row cover" >
                <!-- Title -->
                <div class="col-12 harder">
                    <legend>THÔNG TIN VÉ</legend>
                </div>
                <!-- Thong tin ve -->
                <div class="row margin-center justify-content-center" >
                    <!-- Tóm tắt vé -->
                    <div class="col-2 text-center cover mb-3 " >
                        <p class="demuc lighter">MÃ VÉ</p>
                        <p class="detail harder">1111</p>
                        <p class="demuc lighter">NGÀY ĐẶT</p>
                        <p class="detail harder">NGÀY 8 THÁNG 10 NĂM 2023</p>
                    </div>
                    <!-- Chi tiết vé -->
                    <div class="col-9 cover margin-left mb-3 mx-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row ">
                                        <div class="col-12 lighter">NOI DI - NOI DEN</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 harder bigger">VIETNAM - THAILAND</div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 lighter">
                                            LOAI GHE: <span class="harder">BSN</span>
                                        </div>
                                        <div class="col-md-6 lighter">
                                            SO LUONG DAT: <span class="harder">1</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            NGAY/GIO: <span class="harder">8 THÁNG 10 NĂM 2023</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÁY BAY: <span class="harder">VNAIRLINE</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÃ CHUYẾN: <span class="harder">ALVN01</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            GIÁ VÉ: <span class="harder">2.000.000</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            TÌNH TRẠNG: <span class="harder">Chờ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tóm tắt vé -->
                    <div class="col-2 text-center cover mb-3 " >
                        <p class="demuc lighter">MÃ VÉ</p>
                        <p class="detail harder">1111</p>
                        <p class="demuc lighter">NGÀY ĐẶT</p>
                        <p class="detail harder">NGÀY 8 THÁNG 10 NĂM 2023</p>
                    </div>
                    <!-- Chi tiết vé -->
                    <div class="col-9 cover margin-left mb-3 mx-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row ">
                                        <div class="col-12 lighter">NOI DI - NOI DEN</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 harder bigger" >VIETNAM - THAILAND</div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 lighter">
                                            LOAI GHE: <span class="harder">BSN</span>
                                        </div>
                                        <div class="col-md-6 lighter">
                                            SO LUONG DAT: <span class="harder">1</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            NGAY/GIO: <span class="harder">8 THÁNG 10 NĂM 2023</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÁY BAY: <span class="harder">VNAIRLINE</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÃ CHUYẾN: <span class="harder">ALVN01</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            GIÁ VÉ: <span class="harder">2.000.000</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            TÌNH TRẠNG: <span class="harder">Chờ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tóm tắt vé -->
                    <div class="col-2 text-center cover mb-3" >
                        <p class="demuc lighter">MÃ VÉ</p>
                        <p class="detail harder">1111</p>
                        <p class="demuc lighter">NGÀY ĐẶT</p>
                        <p class="detail harder">NGÀY 8 THÁNG 10 NĂM 2023</p>
                    </div>
                    <!-- Chi tiết vé -->
                    <div class="col-9 cover margin-left mb-3 mx-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row ">
                                        <div class="col-12 lighter">NOI DI - NOI DEN</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 harder bigger">VIETNAM - THAILAND</div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 lighter">
                                            LOAI GHE: <span class="harder">BSN</span>
                                        </div>
                                        <div class="col-md-6 lighter">
                                            SO LUONG DAT: <span class="harder">1</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            NGAY/GIO: <span class="harder">8 THÁNG 10 NĂM 2023</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÁY BAY: <span class="harder">VNAIRLINE</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            MÃ CHUYẾN: <span class="harder">ALVN01</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            GIÁ VÉ: <span class="harder">2.000.000</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 lighter">
                                            TÌNH TRẠNG: <span class="harder">Chờ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mt-4">
                        <li></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link abc" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <li></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </body>
</html>
