body{
    font-weight: bold;
    font-family: sans-serif;
}

h1{
    font-weight: bold;
}

button{
    width: 100%;
}

.lighter{
    color: #6AC6DF;
    font-size: 22px;
}

.harder{
    color: #146C94;
    font-size: 25px;
}

.cover{
    border: #146C94 solid 4px;
    border-radius: 25px;
}

.margin-center{
    margin: auto;
}

.container {
    margin-top: 2%;
}

.find-code{
    font-size:x-large;
}

.title{
    font-size: xx-large;
}
button{
    font-weight: bold;
        width: 160px;
        height: 50px;
        background-color:#19A7CE;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color:white;
}

input{
    height: 50px;
    border: 4px solid #146C94;
}

a{
    border: #19A7CE 2px solid ;
    border-radius: 10px;
    margin: 10px;
    color: #146C94;
}

.abc{
    background-color: #146C94;
    color: white;
}

.bigger{
    font-size: 40px;
}