<div class="menu-bar">
    <div class="logo">
        <img src="../../../assets/Icon/icons8-plane-material-rounded (1)/icons8-plane-48.png" alt="logo" class="logo-image">
        <button class="homepage">
            <p style="margin: 0;">FLIGHTDOT</p>
            <p style="margin: 0;">ADMIN</p>
        </button>
        
    </div>
    <div class="menu-button-list">
        <div class="menu-button">
            <a routerLink="">Quản lý chuyến bay</a>
        </div>
        <div class="menu-button">
            <a routerLink="">Quản lý vé</a>
        </div>
        <div class="menu-button">
            <a routerLink="guest-management">Quản lý khách hàng</a>
        </div>
        <div class="menu-button">
            <a routerLink="">Thống kê</a>
        </div>
        <div class="menu-button">
            <a routerLink="">LOG OUT</a>
        </div>
    </div>
</div>
