.container {
    // display: flex;
    // flex-direction: row;
    // overflow: hidden
    display: flex;
    flex-direction: row;
    min-width: 100% !important;
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    // margin-left: 193.477px;
    margin-left: 250px;
}