.container {
    display: flex;
    flex-direction: row;
    overflow: hidden
}
.page-content {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    margin-left: 193.477px;
}