<app-header></app-header>
<app-navbar></app-navbar>
<div class="container my-5">
  <h1 class="text-center color-2 fw-bold">ĐẶT VÉ</h1>
  <div class="ticket-info border-color-1" style="border-radius: 15px;padding: 15px;">
    <div class="row">
      <h2 class="color-2 ms-3 fw-bold">THÔNG TIN ĐẶT VÉ</h2>
      <div
        class="ticket-info-detail col-12 border-ra"
        style="
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
      <div class="row" style="          display: flex;
      justify-content: center;
      align-items: center;">
        <div
          class="row p-3 "
          style="border-radius: 20px; width: 1000px; margin-top:16px"
        >
          <div class="col-4" style="height: 300px;">
            <img [src]="ImageUrl(flightInfo?.chuyenBay.noiXuatPhat)" alt="ImageNoiDi" sizes="center" style="width: 300px;height: 300px;">
          </div>
          <div class="col-4" style="height: 300px;justify-content: center;align-items: center;display: flex;">
            <h2 class="color-2 fw-bold font-28">
              {{ flightInfo?.chuyenBay.noiXuatPhat }} đến
              {{ flightInfo?.chuyenBay.noiDen }}
            </h2>
          </div>
          <div class="col-4" style="height: 300px;">
            <img [src]="ImageUrl(flightInfo?.chuyenBay.noiDen)" alt="ImageNoiDen" sizes="center" style="width: 300px;height: 300px;">
          </div>
        </div>
        <div
        class="row border-color-2 p-3 border-ra"
        style="border-radius: 20px; width: 1000px; margin-top: 24px;"
      >
        <div class="col-7">
          <h3 class="color-1 fw-bold font-20">NƠI ĐI - NƠI ĐẾN</h3>
          <h2 class="color-2 fw-bold font-28">
            {{ flightInfo?.chuyenBay.noiXuatPhat }} -
            {{ flightInfo?.chuyenBay.noiDen }}
          </h2>
          <h3 class="color-1 fw-bold font-20">
            NGÀY/GIỜ:
            <span class="color-2"
              >{{ flightInfo?.chuyenBay.ngayXuatPhat }}
            </span>
          </h3>
        </div>
        <div class="col-5">
          <h3 class="color-1 fw-bold font-20">
            MÁY BAY:
            <span class="color-2">{{ flightInfo?.mayBay.tenMayBay }} </span>
          </h3>
          <h3 class="color-1 fw-bold font-20">
            MÃ CHUYẾN:
            <span class="color-2">{{
              flightInfo?.chuyenBay.maChuyenBay
            }}</span>
          </h3>
          <h3 class="color-1 fw-bold font-20">
            GIÁ VÉ ECO:
            <span class="color-2">{{ flightInfo?.chuyenBay.donGia }} $ / 1 vé </span>
          </h3>
          <h3 class="color-1 fw-bold font-20">
            GIÁ VÉ BSN:
            <span class="color-2">{{ flightInfo?.chuyenBay.donGia*3 }} $ / 1 vé </span>
          </h3>
        </div>
      </div>
    </div>
      </div>
      <div class="sharethis-inline-share-buttons"></div>

      <div class="col-12" *ngIf="isLoggedIn()">
        <div class="row" [formGroup]="form">
          <div class="col-6">
            <label
              for="inputName"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Họ và tên</label
            >
            <input
              type="text"
              id="inputName"
              class="form-control form-control-input bor-ra"
              formControlName="tenKh"
              readonly
            />
            <label
              for="inputEmail"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Gmail</label
            >
            <input
              type="text"
              id="inputEmail"
              class="form-control form-control-input bor-ra"
              formControlName="gmailKh"
              readonly
            />
            <label
              for="inputPhone"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Số điện thoại</label
            >
            <input
              type="text"
              id="inputPhone"
              class="form-control form-control-input bor-ra"
              formControlName="sdt"
              readonly
            />
            <label
              for="inputGender"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Giới tính</label
            >
            <input
              type="text"
              id="inputQuantily"
              class="form-control form-control-input bor-ra"
              formControlName="phai"
              readonly
            />

            <p class="mt-4 color-2 text-justify fs-5 text-second">
              Chúng tôi rất mong muốn được phục vụ và đồng hành cùng bạn trên chuyến đi sắp tới. Hãy điền đầy đủ thông tin cá nhân và số lượng vé bạn muốn đặt để chúng tôi có thể hoàn tất quá trình đặt vé của bạn một cách nhanh chóng và hiệu quả nhất. Cảm ơn bạn đã chọn FlightDot - nơi mang đến trải nghiệm du lịch hoàn hảo từ đầu đến cuối!
            </p>
          </div>
          <div class="col-6">
            <label
              for="inputQuantily"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Số lượng đặt</label
            >
            <input
              type="text"
              id="inputQuantily"
              class="form-control form-control-input bor-ra"
              formControlName="soLuong"
            />
            <div *ngIf="form.get('soLuong').hasError('required') && form.get('soLuong').touched" style="color: red; margin-top: 10px;margin-left: 10px">
              Không được để trống
            </div>
            <div *ngIf="form.get('soLuong').hasError('pattern') && form.get('soLuong').touched" style="color: red; margin-top: 10px;margin-left: 10px">
              Chỉ được nhập số
            </div>
            <div *ngIf="form.get('soLuong').hasError('min') && form.get('soLuong').touched" style="color: red; margin-top: 10px;margin-left: 10px">
              Số lượng ghế đặt phải ít nhất bằng 1
            </div>
            <label
              for="inputSum"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Tổng giá ($)</label
            >
            <input
              type="text"
              id="inputSum"
              class="form-control form-control-input bor-ra"
              readonly
              formControlName="tongGia"
            />
            <label
              for="inputDate"
              class="form-label fs-4 color-2 fw-bold mt-4 font-18"
              >Ngày đặt</label
            >
            <input
              type="text"
              id="inputDate"
              class="form-control form-control-input bor-ra"
              formControlName="ngayDatVe"
              readonly
            />
            <p class="fs-4 color-2 fw-bold mt-4 font-18">Loại ghế</p>
            <div class="chair-check">
              <div class="row" style="margin-top: -4px">
                <div
                  class="col-6 h-50px"
                  *ngIf="flightInfo?.chuyenBay.soLuongVeBsn > 0"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="options-outlined"
                    id="success-outlined"
                    autocomplete="off"
                    
                  />
                  <label
                    class="btn w-100 h-100 form-control-input d-flex justify-content-center align-items-center"
                    for="success-outlined"
                    style="border: 2px solid #146C94;color: #146C94;"
                    (click)="changeType('BSN')"
                    >BSN</label
                  >
                </div>
                <div
                  class="col-6 h-50px"
                  *ngIf="flightInfo?.chuyenBay.soLuongVeEco > 0"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="options-outlined"
                    id="danger-outlined"
                    autocomplete="off"
                  />
                  <label
                    class="btn w-100 h-100 form-control-input d-flex justify-content-center align-items-center"
                    style="border: 2px solid #146C94;color: #146C94;"
                    for="danger-outlined"
                    (click)="changeType('ECO')"
                    >ECO</label
                  >
                </div>
              </div>
            </div>
            <div class="ticket-btn mt-6 d-flex justify-content-end h-50px" style="margin-top: 20px">
              <input
                style="background-color: #146C94 !important;color: white; height: 50px;"
                type="submit"
                (click)="showOnInit()"
                class="btn  px-5 py-2 fw-bold border-color-1"
                value="Đặt vé"
              />

            </div>
            
            
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="!isLoggedIn()">
        <p class="mt-4 color-2 text-justify fs-5 text-second justify-content-center d-flex">
          <span style="color: red; margin-right: 5px">*</span> Vui lòng đăng nhập để thực hiện việc đặt vé máy bay
        </p>
        <div class="ticket-btn mt-6 d-flex justify-content-center h-50px" style="margin-top: 20px">
          <input
            style="background-color: #146C94 !important;color: white; height: 50px;"
            type="submit"
            (click)="toLogin()"
            class="btn  px-5 py-2 fw-bold border-color-1"
            value="Đăng nhập"
          />

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
