<div class="menu-bar">
    <div class="logo">
        <img src="assets/Icon/icons8-plane-material-rounded (1)/icons8-plane-48.png" alt="logo" class="logo-image">
        <button class="homepage">
            <p style="margin: 0;">FLIGHTDOT</p>
            <p style="margin: 0;">ADMIN</p>
        </button>
        
    </div>
    <div class="menu-button-list">
        <button class="menu-button" routerLink="/admin-dashboard/admin-flight-management" routerLinkActive="active">Quản lý chuyến bay</button>
        <button class="menu-button" routerLink="/admin-dashboard/admin-ticket-management" routerLinkActive="active">Quản lý vé</button>
        <button class="menu-button" routerLink="/admin-dashboard/guest-management" routerLinkActive="active">Quản lý khách hàng</button>
        <button class="menu-button" routerLink="/admin-dashboard/statist" routerLinkActive="active">Thống kê</button>
        <button class="menu-button" routerLink="/home">LOG OUT</button>
    </div>
</div>
