<header id="header-admin" class="row div-center sticky-top">
    <div class="col-1 div-center" >
        <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <img src="assets/icons8-menu-48.png" alt="logo" height="36px" width="36px">
        </button>
        
        <div style="width:400px;background-color:white !important;padding: 20px;" class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="color:#146C94;font-weight:bold;font-size: 24px;" id="offcanvasWithBothOptionsLabel">FLIGHTDOT Management</h5>
                <button style="height: 15px;" type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <button class="menu-button item-offcanvas" routerLink="/admin-dashboard/admin-flight-management" routerLinkActive="active">Quản lý chuyến bay</button>
                <button class="menu-button item-offcanvas" routerLink="/admin-dashboard/admin-ticket-management" routerLinkActive="active">Quản lý vé</button>
                <button class="menu-button item-offcanvas" routerLink="/admin-dashboard/guest-management" routerLinkActive="active">Quản lý khách hàng</button>
                <button class="menu-button item-offcanvas" routerLink="/admin-dashboard/statist" routerLinkActive="active">Thống kê</button>
                <button class="menu-button item-offcanvas" routerLink="/home" routerLinkActive="active">Quay lại trang chủ</button>
                <button class="menu-button item-offcanvas" (click)="onLogout()">Đăng xuất</button>
            </div>
        </div>
        
        


    </div>
    <div class="col-11 div-center" >
        <img src="assets/Icon/icons8-plane-material-rounded (1)/icons8-plane-48.png" alt="logo" height="36px" width="36px" />
        <span class="title-header-admin">FLIGHTDOT ADMIN</span>
    </div>
</header>