<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Pass</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-md-4">
        <form class="row g-3">
            <legend>QUÊN MẬT KHẨU</legend>
          <div class="container">
            <div class="row">
                <label for="inputEmail3" class="form-label">Gmail</label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="abc@gmail.com">      
            </div>
            <div class="row">
                <div class="col-12 text-center"><button class="btn btn-primary btn-lg btn-block" >Xác nhận</button></div>
            </div>
        </div>
        </form>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</body>
</html>

