<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Pass</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-md-4">
        <form class="row g-3">
          <h1 style="margin-bottom: 20px;">ĐỔI MẬT KHẨU</h1>
          <div class="container">
            <div class="row">
              <div class="form-group">
                <div style="display: flex; justify-content: space-between;align-items: flex-end;">
                    <label>MẬT KHẨU CŨ</label>
                </div>
                <input [type]="changetype?'password':'text'" name="user_password" id="password-container" placeholder="Nhập mật khẩu của bạn vào đây">
                <button class="eye-icon" (click)="viewpass()">
                    <mat-icon style="color: #146C94;" fontIcon="{{visible?'visibility':'visibility_off'}}"></mat-icon>            
                </button>
            </div>
              <div class="form-group">
                <div style="display: flex; justify-content: space-between;align-items: flex-end;">
                    <label>MẬT KHẨU MỚI</label>
                </div>
                <input [type]="changetype?'password':'text'" name="user_password" id="password-container" placeholder="Nhập mật khẩu của bạn vào đây">
                <button class="eye-icon" (click)="viewpass()">
                    <mat-icon style="color: #146C94;" fontIcon="{{visible?'visibility':'visibility_off'}}"></mat-icon>            
                </button>
            </div>
            <div class="form-group">
                <div style="display: flex; justify-content: space-between;align-items: flex-end;">
                    <label> NHẬP LẠI MẬT KHẨU MỚI</label>
                </div>
                <input [type]="changetype?'password':'text'" name="user_password" id="password-container" placeholder="Nhập mật khẩu của bạn vào đây">
                <button class="eye-icon" (click)="viewpass()">
                    <mat-icon style="color: #146C94;" fontIcon="{{visible?'visibility':'visibility_off'}}"></mat-icon>            
                </button>
            </div>   
            </div>
            
        </div>
        <div class="row">
          <div class="col-12 text-center "><button class="button-submit" >XÁC NHẬN</button></div>
      </div>
        </form>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</body>
</html>

